@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('fonts/OptimusPrincepsSemiBold.eot');
    src: url('fonts/OptimusPrincepsSemiBold.woff2') format('woff2'), url('fonts/OptimusPrincepsSemiBold.woff') format('woff'), url('fonts/OptimusPrincepsSemiBold.ttf') format('truetype'), url('fonts/OptimusPrincepsSemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maven-Pro';
    src: url('fonts/MavenPro-Regular.eot');
    src: url('fonts/MavenPro-Regular.woff2') format('woff2'), url('fonts/MavenPro-Regular.woff') format('woff'), url('fonts/MavenPro-Regular.ttf') format('truetype'), url('fonts/MavenPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    background-image: url(logo_mobile.png);
    background-position: top 15vh left 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Maven-Pro', sans-serif;
    font-size: 1em;
}

h2 {
    font-family: 'OptimusPrincepsSemiBold', sans-serif;
    font-size: 1.7em;
    margin: 10px 0;
}

h3 {
    font-family: 'OptimusPrincepsSemiBold', sans-serif;
    margin: 10px 0;
    font-size: 1.4em;
}

ol {
    counter-reset: counter;
    margin: 10px 10px;
}

ol li {
    list-style:none;
}

ol li:before {
    content: counter(counter) ")";
    counter-increment: counter;
    margin-right: 5px;
}

a[href^="mailto:"], a[href^="tel:"] {
    text-decoration: none;
}

div.container {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 26%, rgba(0,0,0,0.8) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 26%,rgba(0,0,0,0.8) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 26%,rgba(0,0,0,0.8) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

header nav {
    font-family: 'OptimusPrincepsSemiBold', sans-serif;
    font-size: 2em;
    height: 100vh;
    text-align: center;
}

header nav ol {
    margin: 0 10px;
}

header nav ol li {
    display:inline-block;
}

header nav ol li:first-child:before {
    display:none;
}

header nav ol li:before {
    content:'|';
    display: inline-block;
    color: white;
    width: 15px;
}

header nav ol li a {
    color: white;
    text-decoration: none;
}

aside {
    width: 100%;
}

aside span {
    margin:0;
}

aside section {
    margin: 10px 0;
}

aside section ul, aside section ol {
    margin-top: 5px;
}

aside section li {
    padding: 0;
    margin: 0;
}

footer div.grid-10 {
    border-top: 1px solid white;
    margin: 10px;
    padding: 10px 0;
    font-size: 0.75em;
}

.about, .contact, .privacy {
    min-height: 100vh;
    align-items: center;
}

 .privacy {
    margin-top: 250px;
 }

.press > section:first-of-type {
    display: flex;
    flex-wrap: wrap;
}

.press aside {
    order: 3;
    margin: 10px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.press aside h3 {
    font-family: "Maven-Pro", sans-serif;
}

.press > h2 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    width: 100%;
}

.team section {
    margin: 10px 0;
}

@media (min-width:768px) {
    body {
        background-image: url(logo_tablet.png);
        background-position: top 5vh left 50%;
        font-size: 1.5em;
    }

    div.container {
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.8) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.8) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 40%,rgba(0,0,0,0.8) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }

    .press aside {
        order: 0;
        width: 30%;
        border: none;
        border-right: 1px solid white;
        margin: 0;
        padding: 0;
        font-size: 0.75em;
    }

    .press div {
        width: 70%;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .press h2 {
        border-bottom: 0;
    }
}

@media (min-width:1199px) {
    body {
        background-image: url(logo.png);
        background-position: top 5vh left 50%;
        font-size: 1.6em;
    }
}